<div class="wrapper">

    <div class="wrapper2">

        <div class="main">


                <div class="col column1 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xxs-12">


                    <div class="quote-marked">

                        <div class="category">
                            <img class="quote" src="assets/images/Icon material-format-quote.png" alt="">
                            <div>
                                <div class="quote-text">"It surpassed our expectations"</div>
                            </div>
                        </div>
        
                    </div>

                    <div class="sub-text mt-4 mb-4">
                        "Filed has completely surpassed our expectation. I will refer everyone i know.
                        Filed is worth ore than i paid."
                    </div>

                    <div class="marked">

                        <div class="category">
                            <img class="checked rounded-circle" src="assets/images/Paulo Dybala is a new idol.jpg" alt="">
                            <div>
                                <div class="text">Tania Y.</div>
                                <div class="text2">Flexi Content @Hello</div>
                            </div>
                        </div>
        
                    </div>

                </div>
                <!-- column1 end -->


                <div class="col column2 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xxs-12">

                    <div class="quote-marked">

                        <div class="category">
                            <img class="quote" src="assets/images/Icon material-format-quote.png" alt="">
                            <div>
                                <div class="quote-text">"The essential marketing tool"</div>
                            </div>
                        </div>
        
                    </div>

                    <div class="sub-text mt-4 mb-4">
                        "Filed is the most valuable business resource
                        we have Ever purchased. I was amazed at the quality of filed.
                        we were treated like royalty."
                    </div>

                    <div class="marked">

                        <div class="category">
                            <img class="checked rounded-circle" src="assets/images/Paulo Dybala is a new idol.jpg" alt="">
                            <div>
                                <div class="text">Jack Francis</div>
                                <div class="text2">Manager @ Accidents</div>
                            </div>
                        </div>
        
                    </div>

                    

                </div>
                <!-- column2 end -->


                <div class="col column3 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xxs-12">


                    <div class="quote-marked">

                        <div class="category">
                            <img class="quote" src="assets/images/Icon material-format-quote.png" alt="">
                            <div>
                                <div class="quote-text">"Your company is truly upstanding"</div>
                            </div>
                        </div>
        
                    </div>

                    <div class="sub-text mt-4 mb-4">
                        "The service was excellent. After using filed 
                        my business skyrocketed! It really saves me time and effort."
                    </div>

                    <div class="marked">

                        <div class="category">
                            <img class="checked rounded-circle" src="assets/images/Paulo Dybala is a new idol.jpg" alt="">
                            <div>
                                <div class="text">Dawna N.</div>
                                <div class="text2">Editor @ Museum of Typography</div>
                            </div>
                        </div>
        
                    </div>

                    

                </div>
                <!-- column3 end -->


        </div>
        <!-- main -->

    </div>
    <!-- wrapper2 -->

</div>