<div class="wrapper">

    <div class="wrapper2">

        <div class="main">


            <img class="repeat-grid" src="assets/images/Group 61.png" alt="">


                <div class="col column1 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xxs-12">

                    <div class="benefits-p">
                        The <span class="benefits">Benefits</span> of using Filed
                    </div>

                </div>
                <!-- column1 end -->


                <div class="col column2 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xxs-12">

                    <div class="marked">

                        <div class="category">
                            <img class="checked" src="assets/images/Icon awesome-check.png" alt="">
                            <div>
                                <div class="text">Ability to using, our AI-powered marketing genius.</div>
                            </div>
                        </div>
        
                    </div>

                    <div class="marked">

                        <div class="category">
                            <img class="checked" src="assets/images/Icon awesome-check.png" alt="">
                            <div>
                                <div class="text">Client Success Manager who will optimize your Facebook ad
                                    campaigns and focus on driving the best possible results for you.
                                </div>
                            </div>
                        </div>
        
                    </div>

                    <div class="marked">

                        <div class="category">
                            <img class="checked" src="assets/images/Icon awesome-check.png" alt="">
                            <div>
                                <div class="text">This is a limited time offer only</div>
                            </div>
                        </div>
        
                    </div>

                </div>
                <!-- column2 end -->

        </div>
        <!-- main -->

    </div>
    <!-- wrapper2 -->

</div>