<div class="wrapper">

    <div class="wrapper2">

        <div class="main">

            <div class="grid">

                <img class="repeat-grid-mobile" src="assets/images/Subtraction 19.png" alt="">

                <img class="repeat-grid-mobile2" src="assets/images/Group 350.png" alt="">

                <div class="col column1 col-xl-6 col-lg-6 col-md-6">

                    <div class="logo-p">
                        <img class="logo" src="assets/images/filed-logo-01.png" alt="Filled">
                    </div>

                    <div class="repeat-grid2">

                    </div>
                    <!-- repeat-grid2 -->

                    <div class="ellipse-8">

                    </div>
                    <!-- ellipse-8 -->
                    

                    <div class="book-demo-text">
                        Book a demo today and<br>
                        get two weeks for <span class="free-text">free.</span> Why?
                    </div>
                    <!-- book-demo-text -->

                    <div class="AI-powered-text">
                        because our AI-powered software<br>
                        will exceed your marketing goals.
                    </div>
                    <!-- AI-powered-text -->


                    <div style="position: relative;">

                        <div class="desktop">
                            <!-- <div class="desktop-img"></div> -->

                            <div class="desktop-image-p">

                                <span class="blue-repeat-grid"></span>
        
                                <img class="desktop-image" src="assets/images/Artboard 1.png" alt="">
                            </div>
                        </div>
                    </div>

                   


                </div>
                <!-- column1 end -->


                <div class="col column2 col-xl-6 col-lg-6 col-md-6">

                    <mat-card>

                        <mat-card-content>

                            <div class="let-start">
                                let's start
                            </div>

                            <div class="fill-text">
                                Fill out the form and we'll get in touch to <br>get your trial set up.
                            </div>

                            <form class="form">

                                <div class="ads-text">Do you want to make ads that convert?</div>

                                <div class="form-check-p">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                        Yes
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            No
                                        </label>
                                    </div>
                                </div>

                                  <div class="monthly">What's your monthly ad budget?</div>
                                  <select class="form-select" aria-label="Default select example">
                                    <option selected class="option1">Select</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>

                                  <button class="get-started" mat-button>get started</button>

                                </form>

                        </mat-card-content>

                    </mat-card>

                </div>
                <!-- column2 end -->
            </div>
            <!-- grid -->

        </div>
        <!-- main -->

    </div>
    <!-- wrapper2 -->

</div>