@import "~bootstrap/dist/css/bootstrap.css";

$Roboto: Roboto;


.wrapper {
    background-color: #FFFFFF;
    opacity: 1;
} 


.wrapper2 {
    display: flow-root;
    zoom: 1;
}

.wrapper2::after {
    clear: both;
}

.wrapper2:after, .wrapper2:before {
    content: "";
    clear: both;
    display: table;
}


.grid {
    position: relative;
}

.repeat-grid2 {
    position: absolute;
    background: url('/assets/images/Repeat\ Grid\ 2.png');
    right: 0;
    top: 0;
    width: 140px;
    height: 141px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.ellipse-8 {
    position: absolute;
    background: url('/assets/images/Ellipse\ 8.png');
    right: 23%;
    top: -2em;
    // width: 370px;
    // height: 366px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}


.repeat-grid-mobile, .repeat-grid-mobile2 {
    display: none;
}

.main {
    margin-top: 6em;
    // width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.logo-p {
    width: 100px;
    height: 35px;
    margin-bottom: 40px;
    .logo {
        height: inherit;
        width: 100%;
    }

}


.book-demo-text {
    font: normal normal normal 34px/55px $Roboto; 
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;

    .free-text {
        color: #38CCF5;
    }

}


.AI-powered-text {
    font: normal normal normal 20px/25px $Roboto;
    font-weight: 500; 
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: left;
    letter-spacing: 0.56px;
    color: #000000;
    text-transform: capitalize;
}

.desktop-p {
    position: relative;
}

.desktop{
    position: absolute;
    background: url('/assets/images/Repeat\ Grid\ 2.png');
    top: -3em;
    left: 0;
    width: 140px;
    height: 141px;
    
}


%img-shared {
    position: absolute;
    background: url('/assets/images/Ellipse\ 11.png');
    background-repeat: no-repeat;
    background-position: fit;
    background-size: contain;
}

.round-img {
    @extend %img-shared;
    top: -8em;
    right: 0;
    width: 60px;
    height: 60px;
}

.round-img2 {
    @extend %img-shared;
    top: -3em;
    right: 4em;
    width: 30px;
    height: 30px;
}

.round-img3 {
    @extend %img-shared;
    top: 0.2em;
    right: 6.5em;
    width: 20px;
    height: 20px;
}



.desktop-image-p {
    
    .desktop-image {
        width: 350px;
        height: 200px;        
        margin-top: 5.5em;
        margin-left: 2.5em;
    }

}

// textarea:focus, 
// textarea.form-control:focus, 
// input.form-control:focus, 
// input[type=text]:focus, 
// input[type=password]:focus, 
// input[type=email]:focus, 
// input[type=number]:focus, 
// [type=text].form-control:focus, 
// [type=password].form-control:focus, 
// [type=email].form-control:focus, 
// [type=tel].form-control:focus, 
// [contenteditable].form-control:focus {
//   box-shadow: inset 0 -1px 0 #ddd;
// }





mat-card {
    background: #FBFBFB;
    box-shadow: 0px 4px 20px #00000029 !important;
    border-radius: 30px;
    opacity: 1;
    padding: 3em;
    width: 80%;
    left: 11.5%;
    top: 2.6em;
    margin-bottom: 5em;


    mat-card-content {
        margin-top: 3em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;


        .let-start {
            font: normal normal normal 34px/41px $Roboto; 
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-weight: 500;
        }
        
        .fill-text {
            font-weight: 500;
            text-align: center;
            margin-top: 20px;
        }

        .form {
            margin-top: 20px;

            .form-check-p {
                display: center;
                justify-content: space-around;
                align-items: center;
            }

            .form-check-input:checked {
                background-color:#38CCF5;
                border-color: #38CCF5;
            }


            .monthly {
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 10px
            }

            .ads-text {
                font-weight: 500;
            }

            .get-started {
                font: normal normal normal 15px/20px $Roboto; 
                background: transparent linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%);
                box-shadow: 0px 4px 8px #00000029;
                opacity: 1;
                text-align: center;
                letter-spacing: 0.6px;
                color: #FFFFFF;
                width: 100%;
                border-radius: 5px;
                margin-top: 5em;
                text-transform: uppercase;
                padding: .5em;

            }


        }
    
        
        .form-select {
            // background: #FFFFFF;
            border: 1px solid #DEDEDE;
            border-radius: 10px;
            opacity: 1;
        
            .option1 {
                font: normal normal normal 16px/19px $Roboto; 
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
            }
        }
        
        
        
        .form-select:focus {
            box-shadow: none;
        }

    }

}

.col {
    padding: 1em;
}




/* * ****** Extra LArge device only ***** * */

@media (min-width: 1200px) {
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12 {
        float: left;
    }
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 74.99%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }

    /* .col:nth-of-type(4n+1){
        clear:both;
    }  */



    .main {
        width: 80em;
    }

}


/* ****** LArge device only ***** */

@media (min-width: 992px) and (max-width: 1199px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }

    .main {
        width: 98%;
    }



}


/* ****** Tablet medium device only ***** */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }

    .round-img, .round-img2, .round-img3 {
        display: none;
    }


    .main {
        width: 98%;
    }

}



/* ****** small  device only ***** */

@media (min-width: 580px) and (max-width: 767px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }

    .round-img, .round-img2, .round-img3 {
        display: none;
    }

    .logo-p {
        display: none;
    }

    .book-demo-text {
        text-align: center;
        .free-text {
            color: #FF6E4E;
        }
    }

    .AI-powered-text {
        text-align: center;
    }

    .desktop-p, .ellipse-8 {
        display: none;
    }

    mat-card {
        width: 98%;
        left: unset;
        top: unset;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        border-radius: 12px;
        margin-top: -5em;

        mat-card-content {
            .form {
                .get-started {
                    margin-top: 3em;
                    padding: .8em;
                }
            }
        }
    }

    .wrapper2 {
        position: relative;
    }

    .repeat-grid2 {
        display: none;
    }

    .repeat-grid-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .repeat-grid-mobile2 {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main {
        width: 98%;
        margin-top: 2.5em;
    }
    
}


/* extra small device */

@media (min-width: 321px) and (max-width: 579px) {
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left;
    }
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 74.99%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }

    .logo-p {
        display: none;
    }

    .book-demo-text {
        text-align: center;
        font-size: 25px;
        .free-text {
            color: #FF6E4E;
        }
    }

    .AI-powered-text {
        text-align: center;
        font-size: 15px;
    }

    .desktop-p, .ellipse-8 {
        display: none;
    }

    mat-card {
        width: 100%;
        left: unset;
        padding: 2em;
        top: unset;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        border-radius: 12px;
        margin-top: -5em;

        mat-card-content {
            .form {
                .get-started {
                    margin-top: 3em;
                    padding: .8em;
                }
            }
        }
    }

    .wrapper2 {
        position: relative;
    }

    .repeat-grid2 {
        display: none;
    }

    .repeat-grid-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .repeat-grid-mobile2 {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main {
        width: 95%;
        margin-top: 2.5em;
    }

    .round-img, .round-img2, .round-img3 {
        display: none;
    }
    
}

@media (max-width: 320px) {
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12 {
        float: left;
    }
    .col-xxs-1 {
        width: 8.33%;
    }
    .col-xxs-2 {
        width: 16.66%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-4 {
        width: 33%;
    }
    .col-xxs-5 {
        width: 41.66%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-7 {
        width: 58.33%;
    }
    .col-xxs-8 {
        width: 66.66%;
    }
    .col-xxs-9 {
        width: 74.99%;
    }
    .col-xxs-10 {
        width: 83.33%;
    }
    .col-xxs-11 {
        width: 91.66%;
    }
    .col-xxs-12 {
        width: 100%;
    }


    .logo-p {
        display: none;
    }

    .book-demo-text {
        text-align: center;
        font-size: 25px;
        .free-text {
            color: #FF6E4E;
        }
    }

    .AI-powered-text {
        text-align: center;
        font-size: 15px;
    }

    .desktop-p, .ellipse-8 {
        display: none;
    }

    mat-card {
        width: 100%;
        left: unset;
        padding: 2em;
        top: unset;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        border-radius: 12px;
        margin-top: -5em;

        mat-card-content {
            .form {
                .get-started {
                    margin-top: 3em;
                    padding: .8em;
                }
            }
        }
    }

    .wrapper2 {
        position: relative;
    }

    .repeat-grid2 {
        display: none;
    }

    .repeat-grid-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .repeat-grid-mobile2 {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main {
        width: 95%;
        margin-top: 2.5em;
    }

    .round-img, .round-img2, .round-img3 {
        display: none;
    }

}