<div class="wrapper">

    <div class="wrapper2">

        <img class="repeat-grid-mobile" src="assets/images/Subtraction 19.png" alt="">

        <div class="main">

            <div class="grid">


                <img class="repeat-grid-mobile2" src="assets/images/Group 350.png" alt="">

                <div class="col column1 col-xl-6 col-lg-6 col-md-6">

                    <div class="logo-p">
                        <img class="logo" src="assets/images/filed-logo-01.png" alt="Filled">
                    </div>

                    <div class="repeat-grid2">

                    </div>
                    <!-- repeat-grid2 -->

                    <div class="ellipse-8">

                    </div>
                    <!-- ellipse-8 -->
                    

                    <div class="book-demo-text">
                        Book a demo today and<br>
                        get two weeks for <span class="free-text">free.</span> Why?
                    </div>
                    <!-- book-demo-text -->

                    <div class="AI-powered-text">
                        because our AI-powered software<br>
                        will exceed your marketing goals.
                    </div>
                    <!-- AI-powered-text -->


                    <div class="desktop-p">

                        <div class="round-img"></div>
                        <div class="round-img2"></div>
                        <div class="round-img3"></div>

                        <div class="desktop">

                            <div class="desktop-image-p">

                                <span class="blue-repeat-grid"></span>
        
                                <img class="desktop-image" src="assets/images/Artboard 1.png" alt="">
                            </div>
                        </div>
                    </div>

                   


                </div>
                <!-- column1 end -->


                <div class="col column2 col-xl-6 col-lg-6 col-md-6">

                    <mat-card>

                        <mat-card-content>

                            <div *ngIf="this.back.getMessage() === 'first'">

                                <div class="content">

                                        <div class="let-start">
                                            let's start
                                        </div>

                                        <div class="fill-text">
                                            Fill out the form and we'll get in touch to <br>get your trial set up.
                                        </div>

                                        <form class="form" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">

                                            <div class="ads-text">Do you want to make ads that convert?</div>

                                            <div class="form-check-p d-flex">
                                                <div class="form-check" style="margin-right: 36%;">
                                                    <input formControlName="choose" value="yes" class="form-check-input" type="radio" id="flexRadioDefault2" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                    Yes
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input formControlName="choose" class="form-check-input" value="no" type="radio" id="flexRadioDefault2">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="monthly">What's your monthly ad budget?</div>
                                            <div>
                                                <select matInput formControlName="budget" class="form-select" aria-label="Default select example" required>
                                                    <option value="" class="option1">Select</option>
                                                    <option value="500">500</option>
                                                    <option value="1000">1000</option>
                                                    <option value="1500">1500</option>
                                                    <option value="2000">2000</option>
                                                </select>                            
                                                <mat-error *ngIf="formErrors.budget">{{formErrors.budget}}</mat-error>
                                            </div>

                                            <button [disabled]="fform.form.invalid || disabled === false" type="submit" class="get-started" mat-button>get started</button>

                                            </form>


                                    </div>
                                </div>

                        
                                <div *ngIf="this.back.getMessage() === 'second'">
                                    <div class="content">
                                        <app-middle-form2 [data]="feedback"></app-middle-form2>
                                    </div>
                                </div>


                                <div *ngIf="this.back.getMessage() === 'third'">
                                    <div class="content">

                                        <mat-list>
                                            <div mat-subheader>User</div>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>
                                              <mat-icon mat-list-icon>account_circle</mat-icon>
                                              <div mat-line>{{data.firstname}}</div>
                                            </mat-list-item>

                                            <mat-list-item>
                                                <mat-icon mat-list-icon>account_circle</mat-icon>
                                                <div mat-line>{{data.lastname}}</div>
                                              </mat-list-item>

                                              <mat-list-item>
                                                <mat-icon mat-list-icon>drafts</mat-icon>
                                                <div mat-line>{{data.email}}</div>
                                              </mat-list-item>

                                              <mat-list-item>
                                                <mat-icon mat-list-icon>local_atm</mat-icon>
                                                <div mat-line>{{data.budget}}</div>
                                              </mat-list-item>

                                              <mat-list-item>
                                                <mat-icon mat-list-icon>ring_volume</mat-icon>
                                                <div mat-line>{{data.country}} {{data.phone}}</div>
                                              </mat-list-item>

                                              <mat-list-item>
                                                <mat-icon mat-list-icon>business</mat-icon>
                                                <div mat-line>{{data.company}}</div>
                                              </mat-list-item>

                                        </mat-list>


                                        <div class="mt-3 text-center">
                                            <button mat-raised-button (click)="home()" style="color: #FF6E4E; padding: .5em;">Home</button>
                                        </div>
                                        

                                    </div>  
                                </div>

                        </mat-card-content>

                    </mat-card>

                </div>
                <!-- column2 end -->
            </div>
            <!-- grid -->

        </div>
        <!-- main -->

    </div>
    <!-- wrapper2 -->

</div>