<footer class="footer">


    <div class="wrapper">
        <div class="copyright">
            Copyright @ 2020. All Rights Reserved.
        </div>

        <div class="menu-p">
            <button mat-button>home</button>
            <button mat-button>Features</button>
            <button mat-button>terms</button>
            <button mat-button>privacy</button>
            <button mat-button>contact us</button>
        </div>

        <div class="social-icons">
            <button mat-icon-button><i class="fa fa-facebook fa-lg"></i></button>
            <button mat-icon-button><i class="fa fa-instagram fa-lg"></i></button>
            <button mat-icon-button><i class="fa fa-twitter fa-lg"></i> </button>
        </div>

    </div>

</footer>