<footer>
    <div class="row text-center">

        <div class="container1">
            <div class="column1 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="mosab"><a>Mosab</a></div>
                <div class="stream"><a>Stream</a></div>
                <div class="stream"><a>Discover</a></div>
            </div>

            <div class="column2 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="mosab"><a>FIND OUT MORE</a></div>
                <div class="stream"><a>New Realeases</a></div>
                <div class="stream"><a>Top world 100</a></div>
                <div class="stream"><a>Featured playlist</a></div>
                <div class="stream"><a>Playlist</a></div>
            </div>

            <div class="column3 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="mosab"><a>Legal</a></div>
                <div class="stream"><a>Privacy Policy</a></div>
                <div class="stream"><a>Terms of Service</a></div>
                <div class="stream"><a>About Us</a></div>
            </div>
        </div>

        <div class="row2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">

            <div class="connect">Connect With Us.</div>
    
            <div class="social-icon">

                <a mat-icon-button>
                    <span class="fa fa-twitter fa-lg"></span>
                </a>

                <a mat-icon-button>
                    <span class="fa fa-instagram fa-lg"></span>
                </a>

                <a mat-icon-button class="snapchat">
                    <span class="fa fa-snapchat fa-lg"></span>
                </a>

                <a mat-icon-button>
                    <span class="fa fa-facebook fa-lg"></span>
                </a>

            </div>
    
        </div>


        <div class="">
            <div class="row3 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">

                <div class="copyright"><mat-icon>copyright</mat-icon> Mosab 2021</div>
        
                <a href="mailto:contact@mosab.com" class="email">Contact@mosab.com</a>
        
            </div>
        </div>

    </div>




</footer>

<!-- xl = 1200 -->
<!-- lg = 1199 -->
<!-- md = 991 -->
<!-- sm = 767 -->
<!-- xs = 480 -->